<!DOCTYPE html>
<html>
<head>
	<title>Pokemun</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img src="images/Lugia.png">
	<form id="searchForm" action="/pokemon/">
		<input type="text" idcss ="query"  name="search" placeholder="Bulbasaur">	
		<div>
			<button type="submit" id="searchButton"><span id="search-button">Search</span></button>
			<a href=<%="/pokemon/?search=" + Math.floor(Math.random() * 803)%>><button>Metronome</a></button>
		</div>
		<div id="trademark">
			<p>© 1995–2018 Nintendo/Creatures Inc./GAME FREAK inc. 
			</p>
			<p>Pokémon, Pokémon character names, and images are trademarks of Nintendo.
			</p>
		</div>
	</form>
</body>

