<!DOCTYPE html>
<html>
<head>
	<title><%=name%></title>
	<link rel="stylesheet" type="text/css" href="/pokemonStyles.css">	
</head>
<body>

	<h1>Pokemon Page!</h1>

	<h2><%= name %></h2>
</body>
</html>
