body{
	background-color: rgb(255, 255, 204);
	text-align: center;
}

img {
	width: 200px;
	z-index: 1;
	margin-top: 15%;
}

input {
	border-radius: 10px;
	width: 350px;
	height: 35px;
}

button {
	border-radius: 10px;
	height: 35px;
	width: 95px;
	margin: 0, 20px;
}

div {
	margin-top: 10px;
}

#trademark {
  font-size: 10px;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px; 
}





